<!DOCTYPE html>
<html>
<head>
  <title>NetBanking</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark ">
    <a href="<%= root_path %>"><%= image_tag('nav.svg', size: '45x45') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <%= render 'shared/login_panel' %>
    </div>
  </nav>
</header>
<%= render 'layouts/messages' %>
<%= yield %>
</body>
</html>
